* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  padding: 2rem;
  font-family: sans-serif;
  background-color: #f8f8ff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

h1 {
  text-align: center;
  margin-top: 2rem;
  font-size: 2.2rem;
  color: #333;
}

.main {
  text-align: center;
  background-color: #2a3439;
  padding: 3rem;
  margin: 3rem auto;
  border-radius: 10px;
  box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.3);
  max-width: 500px;
  width: 50%;
}

.Password {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

#password {
  padding: 10px;
  width: 300px;
  border-radius: 5px;
  border: none;
  font-size: 1rem;
}

#generateBtn {
  padding: 10px 20px;
  background: linear-gradient(to right, #1abc9c, #16a085);
  border: none;
  color: white;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s ease;
}

#generateBtn:hover {
  background: linear-gradient(to right, #16a085, #1abc9c);
}

.range {
  display: flex;
  justify-content: center;
}

#range {
  width: 100%;
  cursor: pointer;
}
